<aside>
  <%= render 'partials/dashboard-nav' %>
</aside>


<main id="dashboard_main">
  <div class="dashboard_header">
    <h2 class="dashboard_header__text">New Home</h2>
  </div>

  <div class="form_container">
    
  </div>

</main>
