<ul class="nav nav-sidebar">
  <li>
    <%= active_link_to dashboard_path, active: :exact do %>
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Overview
    <% end %>
  </li>
  <li>
    <%= active_link_to dashboard_homes_path do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Homes
    <% end %>
  </li>
  <li>
    <%= active_link_to dashboard_communities_path do %>
      <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> Communities
    <% end %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout
    <% end %>
  </li>

  <!-- <li><a href="/dashboard/communities"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</a></li> -->
  <!-- <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li> -->
</ul>
