<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="footer__container">
              <h3>Find a Home</h3>
              <ul>
                <li><a href="/homes">Available Homes</a></li>
                <li><a href="/communities">Communities</a></li>
                <li><a href="/homes">Home Plans</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="footer__container">
              <h3>Connect</h3>
              <ul>
                <li><a href="/contact">Contact Us</a></li>
                <li><%= link_to 'Facebook', 'https://m.facebook.com/BuildwithBlvd/', target: '_blank' %></li>
                <li><%= link_to 'Instagram', 'https://www.instagram.com/blvdhomestn/', target: '_blank' %></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2">
            <div class="footer__container">
              <h3>Pages</h3>
              <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Get More Info</a></li>
                <li><a href="/our-warranty">Our Warranty</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-5">
            <div class="footer__container">
              <h3>Get updates on new homes and communities</h3>
              <div>
                <form action="//blvdhomes.us16.list-manage.com/subscribe/post?u=849b5918903194235decb1a34&amp;id=e44e1bb924" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                  <div class="footer__form">
                    <input type="email" value="" name="EMAIL" class="footer__input" id="mce-EMAIL" placeholder="Email">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="footer__btn">
                  </div>
                	<div id="mce-responses" class="clear">
                		<div class="response" id="mce-error-response" style="display:none"></div>
                		<div class="response" id="mce-success-response" style="display:none"></div>
                	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_849b5918903194235decb1a34_e44e1bb924" tabindex="-1" value=""></div>-->
                </form>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">
        <div class="footer_bottom">
          <%= image_tag 'blvd_logo_white_alt.png', class: 'footer__logo' %>
          <div class="footer_bottom__content">
            <p class="footer_bottom__text">&copy;2017 Blvd Homes. All Rights Reserved.
          </div>
        </div>
        <div class="bmi_container">
          <p class="bmi_text">Site by <%= link_to 'Big Moon, Inc.', 'http://www.bigmoondev.com', class: 'bmi_link' %></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <div class="footer__form">
  <input type="text" class="footer__input" placeholder="Email" />
  <button class="footer__btn">Subscribe</button>
</div> -->
