<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-4">
            <div class="contact">
              <p class="contact__header">Contact Blvd Builders</p>
              <p class="contact__text">We would love to hear from you and answer any questions you may have about your home purchase.</p>
            </div>

          </div>
          <div class="col-md-offset-1 col-md-3">
            <div class="contact_info">
              <p class="contact_info__header">Contact Info</p>
              <p class="contact_info__text">123-123-1232<br/>email@example.com</p>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <div class="contact_address">
              <p class="contact_address__header">Address</p>
              <p class="contact_address__text">BLVD BUILDERS<br/>1200 SOME LANE<br/>NASHVILLE, TN 34123</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
