<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">Available Homes</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main id="available_main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="available_intro_text">If you’re looking for a new home that’s ready to move into today, we have several just completed and waiting for you in any one of our developments.  If those ready to move in homes aren't right for you-don't worry, you have the ability to start from scratch and select your lot, plan, elevation and finishes.  Call us today!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="home">
          <%= image_tag 'home.png', class: 'home__img' %>
          <div class="home_address">
            <p class="home_address__text">
              <span class="street">1234 Somwhere Lane</span><br/>
              Franlin, TN 23123<br/>
              Lot: 23
            </p>
          </div>
          <div class="home_details">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="home_details__text">
                  Price: $123,000<br/>
                  Status: For Sale<br/>
                  Community: Lagohone
                </p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="home_details__text">
                  SQ FT: 2,400<br/>
                  Bedrooms: 4<br/>
                  Bathrooms: 2.5<br/>Garages: 1
                </p>
              </div>
              <div class="col-md-12 view_btn">
                <a href="/detail" class="home__link">View Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="home">
          <%= image_tag 'home2.png', class: 'home__img' %>
          <div class="home_address">
            <p class="home_address__text">
              <span class="street">1234 Somwhere Lane</span><br/>
              Franlin, TN 23123<br/>
              Lot: 23
            </p>
          </div>
          <div class="home_details">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="home_details__text">
                  Price: $123,000<br/>
                  Status: For Sale<br/>
                  Community: Lagohone
                </p>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p class="home_details__text">
                  SQ FT: 2,400<br/>
                  Bedrooms: 4<br/>
                  Bathrooms: 2.5<br/>Garages: 1
                </p>
              </div>
              <div class="col-md-12">
                <a href="/detail" class="home__link">View Detail</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
