<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">Our Communities</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="touch">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">
          <h2 class="communities__header">An overview of our communities...</h2>
          <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Overlook at Ladd Park</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reserve at Radnor Lake</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Battery Cove</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Wynwood Park</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="community__container">

      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="community__container">

      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <div class="community__container">

      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      <div class="community__container">

      </div>
    </div>
  </div>

</div>
        </div>

      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
