<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">Our Warranty</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render 'partials/footer' %>
