@import 'variables';

.communities__header {
  font-family: $font_black;
  font-size: 4.0rem;
  margin: 0 0 30px 0;
}

.community__container {

}

.community__title {
  margin: 0;
  font-family: $font_black;
  font-size: 3.0rem;
}
