@import 'variables';

#dashboard_main {
  margin-left: 250px;
  padding: 3rem;
}
.dashboard_header {
  margin: 0 0 2rem 0;
}
.dashboard_header__text {
  font-family: $font_light;
  margin: 0;
  border-bottom: 2px solid $black_light;
  padding: 0 0 10px 0;
}

.dashboard_homes {
  h3 {
    font-family: $font_bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $black_dim;
  }
}
.dashboard_communities {
  h3 {
    font-family: $font_bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $black_dim;
  }
}

// DASHBOARD NEW HOME
