@import 'variables';

.links {
  position: relative;
  margin: 0 0 20px 0;
  border: 5px solid $black_light;
  .links__header {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $white;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    margin: 0;
    padding: 5px;
    font-size: 1.8rem;
    font-family: $font_bold;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .sidebar__image {
    width: 100%;
    position: relative;
  }
  .light_text {
    font-family: $font_thin;
  }
}
.links:hover {
  .links__header {
    position: absolute;
    left: 0;
    bottom: 0;
    color: $white;
    background: rgba(208, 1, 27, 0.7);
    right: 0;
    margin: 0;
    padding: 5px;
    font-size: 1.8rem;
    font-family: $font_bold;
    text-transform: uppercase;
  }
  .sidebar__image {
    width: 100%;
    position: relative;
  }
  .light_text {
    font-family: $font_thin;
  }
}
