// Fonts
$font_thin: 'RobotoThin';
$font_light: 'RobotoLight';
$font_regular: 'RobotoRegular';
$font_bold: 'RobotoBold';
$font_black: 'RobotoBlack';

$font_thinital: 'RobotoThinItal';

// Colors
$black: #222;
$black_alt: darken($black, 5%);
$black_light: lighten($black, 80%);
$black_light_alt: lighten($black, 70%);
$black_dim: lighten($black, 50%);
$black_border: lighten($black, 75%);
$white: #fefefe;
$primary_color: #D0011B;
$primary_color_alt: darken($primary_color, 5%);
