// Fonts
$font_thin: 'RobotoThin';
$font_light: 'RobotoLight';
$font_regular: 'RobotoRegular';
$font_bold: 'RobotoBold';
$font_black: 'RobotoBlack';

$font_thinital: 'RobotoThinItal';

// Colors
$black: #222;
$white: #fefefe;
$primary_color: #D0011B;
$primary_color_alt: darken($primary_color, 5%);
