// Fonts
$font_thin: 'RobotoThin';
$font_light: 'RobotoLight';
$font_regular: 'RobotoRegular';
$font_bold: 'RobotoBold';
$font_black: 'RobotoBlack';

// Colors
$black: #222;
$white: #fefefe;
$primary_color: #D0011B;
