// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.spec_note {
  font-family: $font_regular;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
  color: #666;
}
