@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;
  position: relative;
}


@font-face {
  font-family: 'RobotoThin';
  src: font_url('Roboto-Thin.ttf');
}
@font-face {
  font-family: 'RobotoLight';
  src: font_url('Roboto-Light.ttf');
}
@font-face {
  font-family: 'RobotoRegular';
  src: font_url('Roboto-Regular.ttf');
}
@font-face {
  font-family: 'RobotoBold';
  src: font_url('Roboto-Bold.ttf');
}
@font-face {
  font-family: 'RobotoBlack';
  src: font_url('Roboto-Black.ttf');
}
@font-face {
  font-family: 'RobotoThinItal';
  src: font_url('Roboto-ThinItalic.ttf');
}


@import 'home';
@import 'footer';
@import 'available';
@import 'detail';
@import 'custom-bootstrap';
@import 'contact';
@import 'about';
