// @import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

}

body {
  font-size: 1.6rem;
  position: relative;
  box-sizing: border-box;
}


@font-face {
  font-family: 'RobotoThin';
  src: font_url('Roboto-Thin.ttf');
}
@font-face {
  font-family: 'RobotoLight';
  src: font_url('Roboto-Light.ttf');
}
@font-face {
  font-family: 'RobotoRegular';
  src: font_url('Roboto-Regular.ttf');
}
@font-face {
  font-family: 'RobotoBold';
  src: font_url('Roboto-Bold.ttf');
}
@font-face {
  font-family: 'RobotoBlack';
  src: font_url('Roboto-Black.ttf');
}
@font-face {
  font-family: 'RobotoThinItal';
  src: font_url('Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: 'MWLight';
  src: font_url('Merriweather-Light.ttf');
}
@font-face {
  font-family: 'MWRegular';
  src: font_url('Merriweather-Regular.ttf');
}
@font-face {
  font-family: 'MWBold';
  src: font_url('Merriweather-Bold.ttf');
}
@font-face {
  font-family: 'MWUltraBold';
  src: font_url('Merriweather-UltraBold.ttf');
}
@font-face {
  font-family: 'MWLightItal';
  src: font_url('Merriweather-LightIt');
}
@font-face {
  font-family: 'MWRegularItal';
  src: font_url('Merriweather-Italic');
}


@import 'home';
@import 'footer';
@import 'available';
@import 'detail';
@import 'custom-bootstrap';
@import 'contact';
@import 'about';
@import 'navbar';
@import 'sidebar';
@import 'dashboard-nav';
@import 'dashboard';
